<!doctype html>
<html lang="en" ng-app="pgApp">
<head>
  <meta charset="utf-8">
  <title>MiguelRossiS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  {% load staticfiles %}
  <link href="{% static "blog/app/css/app.css" %}" rel="stylesheet">
</head>
<body>
  <div class="container" >
    <div class="header">
      <ul class="nav nav-pills pull-right" >
        <li><a href="#/posts">Browse products</a></li>
      </ul>
      <h3 class="text-muted">Posts</h3>
    </div>
    <div ng-view></div>
    <div class="footer" >
      <p>MiguelRossiS 2015 plus  </p>
      
    </div>
  
   
  
  </div>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="{% static "blog/app/js/app.js" %}"></script>
  <script src="{% static "blog/app/js/controllers.js" %}"></script>
  <script src="{% static "blog/app/js/services.js" %}"></script>
</body>
</html>